@charset "UTF-8";
/* 폰트 */
@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }
/*헤더 css*/

/*푸터 css*/
footer{margin-top: 200px; height: 200px;}
footer .line{border: 1px rgb(95, 95, 95) solid; width: 100%;}

/* 섹터 css */
#section{padding-top: 80px;}

/* 모달 */
.modal-bg{display: block;position: fixed;z-index: 9000;left: 0;top: 0;width: 100%;height: 100%;padding: 100px;overflow: auto;background-color: rgba(0, 0, 0, 0.4);}

/* API */

/* 민호 시작 ========================== */

/* ==========================민호 끝 */
	
/* 하진 시작 ========================== */
	
/* ========================== 하진 끝 */
	
/* 근호 시작 ========================== */
#memberLogin-content{width: 450px;height: 550px;margin: 0 auto;border-top: solid green 2px;border-bottom: solid green 2px;}
#memberLogin-content h1{padding-top: 50px;padding-bottom: 60px;}
#memberLogin-content #memberId {width: 450px;margin: 0 auto;}
#memberLogin-content #password {width: 450px;margin: 0 auto;}
#memberLogin-content .custom-checkbox {position: relative; left: -150px; top: 10px;}
#login-bottom a{text-decoration: none;color: gray;}
/* ========================== 근호 끝 */
	
/* 지은 시작 ========================== */

/* ========================== 지은 끝 */
	
/* 예찬 시작 ========================== */
	
/* ========================== 예찬 끝 */
	
/* 주영 시작 ========================== */
	
/* ========================== 주영 끝 */
	
/* 현규 시작 ========================== */

/* ========================== 현규 끝 */