@charset "UTF-8";
/* 폰트 */
@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }
/*헤더 css*/



/*푸터 css*/
footer{
    margin-top: 200px;
    height: 200px;
}
footer .line{
    border: 1px rgb(95, 95, 95) solid;
    width: 100%;
}
#section{padding-top: 80px;}

/* 카카오 api */

/* 카카오 api */