<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 민호 시작 ========================== -->
	
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<select id="selectCategory" parameterType="map" resultType="map">
		select * from product_category
		where category_id like 'A%'
	</select>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	<select id="selectCategory1" parameterType="category" resultType="category">
		select * from product_category
		<where>
			<if test="categoryRef != null">
				category_ref = #{categoryRef}							
			</if>
			<if test="categoryRef == null">
				category_level = 1							
			</if>
		</where>
	</select>
	
	<select id="selectOneShop" resultType="shop">
		select * from shop where member_id = #{memberId}
	</select>
	
	<insert id="insertProduct" parameterType="product">
		insert into product values(
			seq_product.nextval, #{shopNo}, #{categoryId}, #{title}, #{price}, #{shipping},
			#{haggle}, #{info}, 0, #{sido}, #{sigungu}, #{dong}, #{status}, #{isTrade}, sysdate)
	</insert>
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->
</mapper>