<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="research">

	<select id="selectTopAddr" resultType="map" parameterType="map">
	select * from (
	    select sido, sigungu, dong, cnt, all_cnt, round(cnt/all_cnt*100,2) avg
	    from (
	        select sido, sigungu, dong, count(*) cnt
	        from(
	            select sido, sigungu, dong, is_sale, s.reg_date 
	            from product p join product_status s using(product_no) 
	            where is_sale = 'Y' and to_char(s.reg_date,'yyyy') = ${year} and to_char(s.reg_date,'mm') = ${month})
	        group by(sido,sigungu,dong)
	        )
	        join
	        (
	        select sido, sigungu, dong, count(*) all_cnt
	        from(
	            select sido, sigungu, dong, is_sale, s.reg_date 
	            from product p join product_status s using(product_no) 
	            where to_char(s.reg_date,'yyyy') = ${year} and to_char(s.reg_date,'mm') = ${month})
	        group by(sido,sigungu,dong)
	        )
	        using (sido,sigungu,dong)
	    order by avg desc
	    )
	where rownum <![CDATA[ <= ]]> ${rank}
	</select>
	
	<select id="getThermometer" resultType="_int" parameterType="_int">
		select nvl(round(AVG(score)*20),0) avg
		from shop_review join review_grade using(grade_id)
		where shop_no = #{shopNo}
	</select>
</mapper>
