<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- 민호 시작 ========================== -->
	<select id="selectProductTotalContents" parameterType="map" resultType="_int">
		select count(*) cnt 
		from product p join product_attachment pa
		on p.product_no = pa.product_no
		<where>
			pa.thumbnail = 'Y'
			<if test="searchKeyword!=null and searchKeyword!=''">
				and p.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and p.sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and p.sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and p.dong like #{dong}
			</if>
		</where>
	</select>
	<select id="loadProductList" parameterType="map" resultType="map">
		select p.*, pa.photo 
		from product p join product_attachment pa
		on p.product_no = pa.product_no
		<where>
			pa.thumbnail = 'Y'
			<if test="searchKeyword!=null and searchKeyword!=''">
				and p.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and p.sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and p.sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and p.dong like #{dong}
			</if>
		</where>
	</select>
	<select id="selectAddressSido" resultType="string">
		select sido from member
		group by sido
	</select>
	<select id="selectAddressSigungu" parameterType="string" resultType="string">
		select distinct sigungu from member
		where sido = #{sido}
	</select>
	<select id="selectAddressDong" parameterType="string" resultType="string">
		select distinct dong from member
		where sigungu = #{sigungu}
	</select>
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<select id="selectMemberList" parameterType="map" resultType="map">
		select * from member
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and ${searchType} like '%${searchKeyword}%'
			</if>
		</where>
		order by member_id
	</select>
	
	<select id="selectMemberTotalContent" parameterType="map" resultType="_int">
		select count(*) from member
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and ${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	
	<select id="adselectBoardReportTotalContent" resultType="_int">
		select count(*) from board_report R left join board B on R.board_no=B.board_no
		where B.member_id=#{memberId}
	</select>
	
	<select id="selectOneMember" parameterType="map" resultType="map">
		select * from board_report R left join board B on R.board_no=B.board_no left join report_category C on R.category_id = C.category_id
		where B.member_id=#{memberId}
		ORDER BY r.report_no DESC
	</select>
	
	<select id="selectMemberView" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	
	<delete id="memberDelete">
		DELETE FROM member
		WHERE member_id = #{memberId}
	</delete>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	<select id="selectMemberPoint" parameterType="map" resultType="map">
		select M.member_id, P.point_amount, P.reg_date, M.point, P.status
		from (member M left join point_status P on M.member_id = P.member_id) order by P.reg_date
	</select>
	
	<select id="selectMemberPointTotal" parameterType="map" resultType="_int">
		select count(*) from member M left join point_status P on M.member_id = P.member_id
		<if test="searchKeyword != null and searchKeyword!=''">
			and P.${searchType} like '%${searchKeyword}%'			
		</if>
	</select>
	
	<select id="selectMemberPointList" parameterType="map" resultType="map">
		select *
		from (member M left join point_status P on M.member_id = P.member_id) 
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and P.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
		order by P.reg_date
	</select>
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	<select id="selectBoardTotalContents" parameterType="map" resultType="_int">
		select count(*)
		from board B left join member M 
		on b.member_id = m.member_id
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and m.sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and m.sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and m.dong like #{dong}
			</if>
		</where>
	</select>
	
	<select id="loadBoardList" parameterType="map" resultType="map">
		select a.*, (select count(*) from board_report where board_no = a.board_no) cnt from
    	(select * from board B
    	left join member M on b.member_id = m.member_id) a
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and a.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and a.sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and a.sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and a.dong like #{dong}
			</if>
		</where>
		order by a.board_no
	</select>
	
	<select id="selectReportBoardTotalContents" parameterType="map" resultType="_int">
		select count(distinct r.board_no) boardCount
		from board_report R left join member M
		on r.member_id = m.member_id
		left join board_report B on r.board_no = b.board_no
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and m.sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and m.sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and m.dong like #{dong}
			</if>
		</where>
	</select>
	
	<select id="loadReportBoardList" parameterType="map" resultType="map">
		select * from
      	(select a.*, (select count(*) from board_report where board_no = a.board_no) cnt from
          (select * from board B
           left join member M on b.member_id = m.member_id) a )

		<where>
			cnt > 0
			<if test="searchKeyword!=null and searchKeyword!=''">
				and a.${searchType} like '%${searchKeyword}%'
			</if>
			<if test="sido!=null and sido!=''">
				and sido like #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and sigungu like #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and dong like #{dong}
			</if>
		</where>
	</select>
	
	<select id="selectProductReportTotalContents" parameterType="map" resultType="_int">
		select count(*) from product_report
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and ${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	
	<select id="loadProductReportList" parameterType="map" resultType="map">
		select * from product_report
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and a.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
		order by report_no
	</select>
	
	<select id="selectOneProductReport" parameterType="_int" resultType="map">
		select * from product_report where report_no = #{boardNo}
	</select>
	
	<update id="updateReportStatus" parameterType="_int">
		update product_report set status = 'Y' where report_no = #{reportNo}
	</update>
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->
</mapper>