<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- 민호 시작 ========================== -->
	<select id="selectProductTotalContents" parameterType="map" resultType="_int">
		select count(*) cnt from product
		<where>
			<if test="productCategory!=null and productCategory!=''">
				category_id = #{productCategory}
			</if>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	<select id="loadProductList" parameterType="map" resultType="map">
		select * from product
		<where>
			<if test="productCategory!=null and productCategory!=''">
				category_id = #{productCategory}
			</if>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<select id="selectMemberList" parameterType="map" resultType="map">
		select * from member
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and ${searchType} like '%${searchKeyword}%'
			</if>
		</where>
		order by member_id
	</select>
	
	<select id="selectMemberTotalContent" parameterType="map" resultType="_int">
		select count(*) from member
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and ${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	
	<select id="adselectBoardReportTotalContent" resultType="_int">
		select count(*) from board_report R left join board B on R.board_no=B.board_no
		where B.member_id=#{memberId}
	</select>
	
	<select id="selectOneMember" parameterType="map" resultType="map">
		select * from board_report R left join board B on R.board_no=B.board_no
		where B.member_id=#{memberId}
	</select>
	
	<select id="selectMemberView" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->
</mapper>