<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 민호 시작 ========================== -->

	<select id="selectMemberPoints" resultType="map" parameterType="member">
		select * 
		from member 
		where member_id = #{memberId}
	</select>
	<insert id="updatePoint" parameterType="map">
		insert into point_status 
		values(seq_point_status.nextval, #{memberId}, #{pointAmount}, 'I', default)
	</insert>
	<select id="orderListTotalContents" resultType="_int">
		select count(*) from order_list where member_id = #{memberId}
	</select>
	<select id="loadOrderList" resultType="map">
		select o.*, p.title, V.shop_name, pa.photo from 
		order_list o left join product p
		on o.product_no = p.product_no
		left join product_attachment pa
		on o.product_no = pa.product_no
        left join (select * from product p left join shop s
        on p.shop_no = s.shop_no) V
        on o.product_no = v.product_no
		where pa.thumbnail = 'Y'
		and o.member_id = #{memberId}
	</select>
	<update id="updateReceive" parameterType="_int">
		update order_list set check_receive = 'Y'
		where order_no = #{orderNo}
	</update>
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<delete id="byeMember">
		delete from member
		where member_id = #{memberId}
	</delete>
	
	<select id="selectDeleteOne" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	<select id="selectLoginMember" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	<select id="emailDuplicate" resultType="_int">
		select count(*) from member where email = #{email}
	</select>
	<update id="updateAddress">
		update member set sido=#{sido}, sigungu=#{sigungu}, dong=#{dong}
		where member_id = #{memberId} 
	</update>
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	<select id="selectMember" resultType="_int" parameterType="member">
		select count(*) from member
		where member_id = #{memberId}
	</select>
	<update id="passwordUpdate" parameterType="member">
		update member set password = #{password}
		where member_Id = #{memberId}
	</update>
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	<select id="idDuplicate" resultType="_int">
		select count(*) from member where member_id = #{memberId}
	</select>
	<insert id="insertMember" parameterType="member">
		insert into member values(#{memberId}, #{password}, #{memberName}, #{gender}, #{birth}, #{phone}, #{email}, default,
			#{sido}, #{sigungu}, #{dong}, 'Y', 'N', 0)
	</insert>
	<insert id="insertShop">
		insert into shop values( seq_shop.nextval, #{memberId}, 'shop'||seq_shop_name.nextval, null, null, sysdate, 0)
	</insert>
	<select id="selectAddress" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	<resultMap type="member" id="memberMap"></resultMap>
	
	<select id="selectMemberByName" resultMap="memberMap">
		select * from member 
		where member_name = #{memberName} and email = #{email} 
	</select>
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	<select id="selectOneMember" resultType="map">
	
		select *
		from member M 
        left join shop S
        on S.member_id = M.member_id
		where M.member_id=#{memberId}
		
	</select>
	
	<update id="updateMemberName">
		update member 
		set member_name=#{afterName}
		where member_id=#{memberId}
		
	</update>
	<update id="updateMemberPhone">
		update member 
		set phone=#{afterPhone}
		where member_id=#{memberId}
		
	</update>
	<update id="updateMemberEmail">
		update member 
		set email=#{email}
		where member_id=#{memberId}
		
	</update>
	
	
	<select id="selectChargingDetails" resultType="map">
		select * from point_status where member_id=#{memberId}
		order by reg_date desc
	</select>
	
	<select id="countDetails" resultType="_int">
	select count(*) from point_status where member_id=#{memberId}
	</select>
	
	
	<select id="selectDetailsByOption" resultType="map">
		select * from point_status
		<where>
			member_id=#{memberId}
			
			<if test="option!=null and option!=''">
			and
			status=#{option}
			</if>

			<if test="start!=null and start!='' and end!=null and end!=''">
			and
			reg_date between to_date(#{start}, 'yyyymmdd') and to_date(#{end},'yyyymmddhh24miss')	
			</if>
			
		
		</where>
		
	</select>
	
	<select id="countDetailsByOption" resultType="_int">
			select count(*) from point_status 
				<where>
					member_id=#{memberId}
			
					<if test="option!=null and option!=''">
					and
					status=#{option}
					</if>

					<if test="start!=null and start!='' and end!=null and end!=''">
					and
					reg_date between to_date(#{start}, 'yyyymmdd') and to_date(#{end},'yyyymmddhh24miss')	
					</if>
				</where>
	</select>
	
	
	
		
	
	<!-- ==========================  현규 끝 -->

</mapper>