<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 민호 시작 ========================== -->
	
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<delete id="byeMember">
		delete from member
		where member_id = #{memberId}
	</delete>
	
	<select id="selectDeleteOne" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	<select id="selectLoginMember" resultType="member">
		select * from member
		where member_id = #{memberId}
	</select>
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	<select id="idDuplicate" resultType="_int">
		select count(*) from member where member_id = #{memberId}
	</select>
	<insert id="insertMember" parameterType="member">
		insert into member values(#{memberId}, #{password}, #{memberName}, #{gender}, #{birth}, #{phone}, null, default)
	</insert>
	<insert id="insertAddress" parameterType="address">
		insert into address values(#{memberId}, #{sido}, #{sigungu}, #{dong})
	</insert>
	<insert id="insertValid">
		insert into member_valid values(#{memberId},default,default)
	</insert>
	<insert id="insertPoint">
		insert into point values(#{memberId},default)
	</insert>
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->

</mapper>