<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 민호 시작 ========================== -->
	
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->

</mapper>