<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- 민호 시작 ========================== -->
	<select id="selectBoardTotalContents" parameterType="map" resultType="_int">
		select count(*) cnt
		from board B join member M
		on b.member_id = m.member_id
		join board_category C
		on b.category_id = c.category_id
		<where>
			<if test="sido!=null and sido!=''">
				m.sido = #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and m.sigungu = #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and m.dong = #{dong}
			</if>
			<if test="boardCategory!=null and boardCategory!=''">
				and c.category_id = #{boardCategory}
			</if>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
	</select>
	<select id="loadBoardList" parameterType="map" resultType="map">
		select B.* from board B join member M 
		on b.member_id = m.member_id
		join board_category C
		on b.category_id = c.category_id
		<where>
			<if test="sido!=null and sido!=''">
				m.sido = #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and m.sigungu = #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and m.dong = #{dong}
			</if>
			<if test="boardCategory!=null and boardCategory!=''">
				and c.category_id = #{boardCategory}
			</if>
			<if test="searchKeyword!=null and searchKeyword!=''">
				and b.${searchType} like '%${searchKeyword}%'
			</if>
		</where>
		order by b.board_no desc
	</select>
	<select id="selectBoardCategory" resultType="boardCategory">
		select * from board_category
	</select>
	<select id="selectBoardNotice" resultType="map">
		select * from board where category_id = 'A03'
	</select>
	<select id="getMemberByMemberId" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	<select id="selectBoardList" parameterType="map" resultType="map">
	
	<![CDATA[
	SELECT R.* FROM
		(select * from board order by read_count desc) R 
	WHERE ROWNUM < 5
	]]>
		
	</select>
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	<insert id="insertBoard">
		insert into board(category_id, board_no, member_id, board_title, board_contents, write_date, read_count )
		values(
			   #{categoryId},
			   seq_board_no.nextval,
			   #{memberId},
			   #{boardTitle},
			   #{boardContents},
			   default,
			   #{readCount})
		<selectKey keyProperty="boardNo" resultType="_int"
				   order="AFTER">
			select seq_board_no.currval from dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into board_attachment(attchment_no, board_no, originalfilename, renamedfilename)
		values(seq_attachment_no.nextval,
			   #{boardNo},
			   #{originalFileName},
			   #{renamedFileName})
	</insert>
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	<select id="selectOneBoard" resultType="board">
		select * from board where board_no = #{boardNo}
	</select>
	
	<update id="boardInCount" parameterType="_int">
		update board set read_count = read_count + 1 where board_no = #{boardNo} 
	</update>
	
	<select id="selectAttachmentList" resultType="_int">
		select * from board_attachment where board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard">
		delete from board where board_no = #{boardNo}
	</delete>
	
	<update id="boardUpdate" parameterType="board">
		update board set board_contents = #{boardContents}, board_title = #{boardTitle}, category_id = #{categoryId} where board_no = #{boardNo}
	</update>
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	
	
	<insert id="insertBoardComment">
	insert into board_comment values(seq_board_comment.nextval,#{boardNo},#{memberId},#{contents},default,#{commentRef},sysdate)
	</insert>
	
	<resultMap type="map" id="resultMap"></resultMap>
	
	
	<select id="selectBoardCommentList" resultType="boardComment" resultMap="resultMap">
	select *
	from board_comment
	where board_no=#{boardNo}
	
	</select>
	
	
	<!-- ==========================  현규 끝 -->
</mapper>