<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- 민호 시작 ========================== -->
	<select id="getAddrByMemberId" resultType="address">
		select * from address
		where member_id = #{memberId}
	</select>
	<select id="selectBoardTotalContents" parameterType="map" resultType="_int">
		select count(*) cnt
		from board B join address A
		on b.member_id = a.member_id
		join board_category C
		on b.category_id = c.category_id
		<where>
			<if test="sido!=null and sido!=''">
				a.sido = #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and a.sigungu = #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and a.dong = #{dong}
			</if>
			<if test="boardCategory!=null and boardCategory!=''">
				and c.category_id = #{boardCategory}
			</if>
		</where>
	</select>
	<select id="loadBoardList" parameterType="map" resultType="map">
		select B.*, c.category_name
		from board B join address A
		on b.member_id = a.member_id
		join board_category C
		on b.category_id = c.category_id
		<where>
			<if test="sido!=null and sido!=''">
				a.sido = #{sido}
			</if>
			<if test="sigungu!=null and sigungu!=''">
				and a.sigungu = #{sigungu}
			</if>
			<if test="dong!=null and dong!=''">
				and a.dong = #{dong}
			</if>
			<if test="boardCategory!=null and boardCategory!=''">
				and c.category_id = #{boardCategory}
			</if>
		</where>
		order by b.board_no desc
	</select>
	<select id="selectBoardCategory" resultType="boardCategory">
		select * from board_category
	</select>
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->
</mapper>