<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<!-- 민호 시작 ========================== -->
	
	<!-- ==========================  민호 끝 -->
	
	<!-- 하진 시작 ========================== -->
	
	<!-- ==========================  하진 끝 -->
	
	<!-- 근호 시작 ========================== -->
	
	<!-- ==========================  근호 끝 -->
	
	<!-- 지은 시작 ========================== -->
	
	<!-- ==========================  지은 끝 -->
	
	<!-- 예찬 시작 ========================== -->
	
	<!-- ==========================  예찬 끝 -->
	
	<!-- 주영 시작 ========================== -->
	<select id="selectOneShop" resultType="map">
		select 
		S.member_id, s.shop_info, s.image, s.shop_name, s.shop_no, ceil(sysdate-s.open_date) as since
		from member M left join shop S on M.member_id = S.member_id 
		where M.member_id = #{memberId}
	</select>
	
	<update id="updateShopInfo">
		update shop set shop_info = #{shopInfo} where member_id = #{memberId}
	</update>
	
	<select id="selectShopNameCheck" resultType="_int">
		select count(*) from shop where shop_name = #{shopName}
	</select>
	
	<update id="updateShopName">
		update shop set shop_name = #{shopName} where member_id = #{memberId}
	</update>
	
	<update id="updateShopImg">
		update shop set image = #{image} where member_id = #{memberId}
	</update>
	
	<select id="selectShopInquiry" resultType="map" parameterType="map">
		select i.*, to_char(writer_date,'yyyy-mm-dd hh24:mi:ss') as write_day, s.image  
		from shop_inquiry I left join shop S on i.member_id = s.member_id 
		where i.shop_no = #{shopNo}
		start with inquiry_level = 1
		connect by inquiry_ref = prior inquiry_no
	</select>
	
	<insert id="insertShopInquriy">
		insert into shop_inquiry values(seq_shop_inquiry.nextval, #{memberId}, #{shopNo}, #{inquiryContent}, 1, default, null)
	</insert>
	<!-- ==========================  주영 끝 -->
	
	<!-- 현규 시작 ========================== -->
	
	<!-- ==========================  현규 끝 -->
</mapper>